@import 'fonts';
body{
	margin: 0;
	font-family: 'InputMono', 'OpenSans', sans-serif;
	background: hsla(207, 8%, 14%, 1);
}
h1,h2,h3,h4,h5,h6{
	font-family: 'BebasNeue', 'OpenSans', sans-serif;
	margin: 0;
}

.color-picker{
	position: relative;
	cursor: pointer;
	box-shadow: 0px 1px 4px #222;
	z-index: 100;
	color: white;
}

$selector-color: #222;
$selector-width: 8px;
$selector-height: 12px;
.color-picker .h,.s,.l,.a{
	position: relative;
	display: block;
	width: 100%;
	border-bottom: 3px solid $selector-color;
	box-shadow: inset 0px 1px 1px #222;
}
.h{
	height: 65px;
	background: linear-gradient(to right, hsl(0, 100%, 50%) 0%, hsl(36, 100%, 50%) 10%, hsl(72, 100%, 50%) 20%, hsl(108, 100%, 50%) 30%, hsl(144, 100%, 50%) 40%, hsl(180, 100%, 50%) 50%, hsl(216, 100%, 50%) 60%, hsl(252, 100%, 50%) 70%, hsl(288, 100%, 50%) 80%, hsl(324, 100%, 50%) 90%, hsl(360, 100%, 50%) 100%);
}
.s{
	height: 40px;
  background: linear-gradient(to right, hsl(0, 0%, 50%) 0%, hsl(0, 100%, 50%) 100%);
}
.l{
	height: 40px;
  background: linear-gradient(to right, hsl(0, 42%, 0%) 0%, hsl(0, 42%, 50%) 50%, hsl(0, 42%, 100%) 100%);
}
.a{
	height: 25px;
  background: linear-gradient(to right, transparent, white);
}
.color-picker .h span,.s span,.l span,.a span{
	position: absolute;
	bottom: 3px;
	left: 12px;
	font-size: 12px;
	opacity: 0.9;
	text-shadow: 0px 1px 2px #222;
}
.selector{
	transition: 0.6s all;
	position: absolute;
	bottom: 0;
	width: 3px;
	height: 0;
	border-left: $selector-width/2 solid transparent;
	border-right: $selector-width/2 solid transparent;
	border-bottom: $selector-height solid $selector-color;
}

.preview{
	position: relative;
	text-align: center;
	width: 100%;
	padding: 160px 0;
	z-index: 90;
	
	.mask{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}
	h1{
		position: relative;
		font-weight: 300;
		font-size: 108px;
		line-height: 0.65em;
		z-index: 200;
		
		&:first-of-type{ color: black; }
		&:last-of-type{ color: white; }
		span{
			font-size: 24px;
			font-weight: 400;
		}
	}
	p{
		position: relative;
		z-index: 200;
		margin:-10px;
		color: white;
		font-size: 12px;
	}
	img{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 0;
	}
}

.output{
	width: 100%;
	padding: 100px 0;
	input{
		display: block;
		width: 42%;
		margin: 20px auto;
		padding: 0 0.6em;
		
		box-sizing: border-box;
		outline: none;
		background: none;
		border: 2px solid white;
		
		font-family: 'InputMono', 'Ubuntu Mono', 'OpenSans', sans-serif;
		line-height: 200%;
		font-size: 24px;
		color: white;
		
	}
}

$palet-height: 50px;
.palet{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: $palet-height;
	background: white;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	z-index: 100;
	.add{
		position: relative;
		width: $palet-height;
		height: $palet-height;
		float: left;
		border-right: 3px solid black;
		
		&:before{
			content: "+";
			position: absolute;
			font-family: Helvetica, sans-serif;
			font-size: $palet-height;
			line-height: 100%;
			text-align: center;
			width: 100%;
		}
	}
	.item{
		position: relative;
		width: $palet-height;
		height: $palet-height;
		float: left;
		border-right: 3px solid black;
	}
}

footer{
	padding: 25px 3.5% $palet-height+25 3.5%;
	font-size: 14px;
	background: white;
	p{
		margin: 0;
		line-height: 1.45em;
		max-width: 71.5%;
	}
	a{
		text-decoration: none;
	}
}